.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.background {
    background-color: #ffffff !important;
}

.formulario {
    background-color: #ffffff;
    border-radius: 0.1cm;
    padding: 4em 2.5em;
    box-shadow: 0 0 0.5cm #aaaaaa70;
    color: #aaaaaa;
}

.cuadrado {
    margin: 10%;
}

.inputs {
    background-color: rgb(255, 255, 255); 
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    margin-top: 10px;
    height: 50px;
}

.botonSU {
    margin-top: 10px;
    background-color:#ffffff !important;
    color: #136C91 !important;

}

.botonLI {
    margin-top: 10px;
    background-color:#136C91 !important; 
}

.Login {
    color:#136C91;
}