[Unit]
Description=JavaServer
After=network.target

[Service]
Type=simple
User={{ user }}
EnvironmentFile=/home/{{ user }}/services/java_server.service.env
WorkingDirectory=/home/{{ user }}/repos/fridge-bridge/anual/
ExecStart=make start-prod
Restart=always
RestartSec=1
StartLimitBurst=100

[Install]
WantedBy=multi-user.target
