<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>FridgeBridge</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/public/css/home.css" />
		<link rel="stylesheet" href="/public/css/forms.css" />
		<link rel="stylesheet" href="/public/css/base.css" />
		<link
			rel="stylesheet"
			href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
			integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
			crossorigin=""
		/>
		<!-- Make sure you put this AFTER Leaflet's CSS -->
		<script
			src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
			integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
			crossorigin=""
		></script>
	</head>

	<body>
		<div class="fullscreen overflow-auto" style="max-height: 100vh">
			<div
				class="d-flex flex-column w-100"
				style="max-width: 1280px; margin: auto; gap: 30px; padding: 50px"
			>
				<#if error??>
					<div class="error-container">
						<p style="color: red">${error}</p>
					</div>
				</#if>
				<div
					class="d-flex flex-row justify-content-between align-items-center w-100"
					style="margin-bottom: 20px"
				>
					<div class="d-flex flex-column gap-3">
						<h4>Hello ${user.name} 👋</h4>
						<p>We hope you have a nice day!</p>
					</div>
					<div class="d-flex flex-row align-items-center" style="gap: 30px">
						<div class="position-relative alerts-container">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 24 24"
								fill="currentColor"
								class="size-6"
								style="height: 30px; color: var(--gray)"
							>
								<path
									fill-rule="evenodd"
									d="M5.25 9a6.75 6.75 0 0 1 13.5 0v.75c0 2.123.8 4.057 2.118 5.52a.75.75 0 0 1-.297 1.206c-1.544.57-3.16.99-4.831 1.243a3.75 3.75 0 1 1-7.48 0 24.585 24.585 0 0 1-4.831-1.244.75.75 0 0 1-.298-1.205A8.217 8.217 0 0 0 5.25 9.75V9Zm4.502 8.9a2.25 2.25 0 1 0 4.496 0 25.057 25.057 0 0 1-4.496 0Z"
									clip-rule="evenodd"
								/>
							</svg>

							<div class="my-card d-flex flex-column alerts">
								<#list temperatures as tmp> 
									<div class="d-flex flex-row align-items-center" style="gap: 30px">
										<h4>🚨</h4>
										<div>
											<h6>Temperature</h6>
											<p>The ${tmp.fridge} fridge temperature is higher than usual!</p>
										</div>
									</div>
								</#list>
							</div>
						</div>
						<button class="btn-primary" id="contribute-btn"  user-type="IND" >Contribute</button>
					<button onclick="deleteCookieAndRefresh()" type="button" class="btn btn-light" id="logout-btn">Log Out</button>
						
					</div>
				</div>

				<div class="d-flex flex-column w-100" style="gap: 100px">
					<div class="d-flex flex-row w-100 flex-wrap" style="gap: 50px">
						<div class="d-flex flex-column flex-grow-1" style="min-width: 300px">
							<div class="mb-3">
								<h4>Your recent donations</h4>
								<p>A history list of all your donations</p>
							</div>
							<div
								class="my-card d-flex flex-column"
								style="gap: 30px; height: 350px"
							>
								<#list donations as donation> 
									<div
										class="d-flex align-items-center"
										style="gap: 30px"
									>
										<h4>${donation.emoji}</h4>
										<div>
											<h6>${donation.type}</h6>
											<p>${donation.desc}</p>
										</div>
									</div>
								</#list>
							</div>
						</div>
						<div class="d-flex flex-column flex-grow-1" style="min-width: 300px">
							<div class="mb-3">
								<h4>We need your help</h4>
								<p>Here is the state of the current fridges</p>
							</div>
							<div
								class="my-card d-flex flex-column"
								style="gap: 30px; height: 350px"
							>
								<#list fridges as fridge> 
									<div
										class="d-flex align-items-center my-card-item"
										style="gap: 30px"
										id="fridge"
										data-fridge-name=${fridge.name}
										data-fridge-id=${fridge.id}
										data-fridge-temp=${fridge.temp}
										data-fridge-reserved=${fridge.reserved}
										data-fridge-state=${fridge.state}
										data-fridge-meals=${fridge.meals}
										data-fridge-subscribed="${fridge.subscribed}"
									>
										<h4>🧊</h4>
										<div class="w-100">
											<h6>${fridge.name} fridge</h6>
											<div class="d-flex w-100 justify-content-between">
												<p>${fridge.food_status_desc}</p>
												<#if fridge.meal_urgency == "0 Active Incidents">
													<p class="small bold text-success">${fridge.meal_urgency}</p>
												<#elseif fridge.meal_urgency == "1 Active Incident">
													<p class="small bold text-warning">${fridge.meal_urgency}</p>
												<#else>
													<p class="small bold text-danger">${fridge.meal_urgency}</p>
												</#if>
											</div>
										</div>
									</div>
								</#list>
							</div>
						</div>
					</div>
				</div>
				<div class="d-flex flex-column w-100" style="gap: 100px"></div>
				<div class="d-flex flex-row w-100 flex-wrap" style="gap: 50px">
					<div class="d-flex flex-column flex-grow-1" style="min-width: 300px">
						<div class="mb-3 d-flex justify-content-between">
							<div>
								<h4>Rewards 🎁</h4>
								<p>Here are some rewards for your hard work!</p>
							</div>
							<div class="d-flex align-items-center" style="gap: 30px">
								<button
									class="btn-primary"
									id="cancel-reward-btn"
									style="display: none;"
								>
									Cancel exchanges
								</button>

								<button
									class="btn-primary"
									id="confirm-reward-btn"
									style="display: none;"
								>
									Confirm exchanges
								</button>
							</div>
						</div>
						
						<div class="my-card d-flex flex-column" style="gap: 30px; height: 350px">
							<div class="d-flex w-100 justify-content-between">
								<p>Your points:</p>
								<p
									class="points"
									id="user-points"
									data-user-points="${user.points}">${user.points}
								</p>
							</div>
							<div class="d-flex flex-column" style="gap: 15px; height: 350px">
								<#list rewards as reward> 
									<div
										class="d-flex align-items-center justify-content-between"
										style="gap: 30px"
									>
										<div class="d-flex align-items-center" style="gap: 30px">
											<img
												src="${reward.imageUrl}"
												style="width: 50px; height: 50px; object-fit: contain;"
												onerror="this.onerror=null; this.src='https://images.emojiterra.com/google/android-12l/512px/1f381.png';"
											>
											<div>
												<h6>${reward.name}</h6>
												<p>${reward.description} (${reward.quantity} remaining)</p>
											</div>
										</div>
										<button
											class="btn-primary"
											id="redeem-reward-btn"
											data-reward-id=${reward.id}
											data-reward-neededpoints=${reward.neededPoints}
											data-reward-quantity="${reward.quantity}"
										>
											Redeem it for ${reward.neededPoints} points
										</button>
									</div>
								</#list>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

	<div class="modal" id="modal">
		<div
			class="my-card d-flex flex-column justify-content-center overflow-auto"
			style="width: 650px; max-height: 100%"
		>
			<p class="small accent-100 align-self-end btn" id="modal-close">X</p>
			<div class="my-modal-content" id="modal-content"></div>
		</div>
	</div>

	<script src="/public/js/forms.js"></script>
	<script src="/public/js/modal.js"></script>
	<script src="/public/js/error.js"></script>
</html>
