body {
	overflow: hidden;
}

.hover-modal {
	position: absolute;
	width: 320px;
	max-height: 300px;
	min-height: 100px;
	padding: 0 !important;
	right: 0;
	opacity: 0;
	z-index: -1;
	transition: all 0.2s;
}

.hover-modal-container:hover > .hover-modal {
	opacity: 1;
	z-index: 1;
}

.social-login-item {
	cursor: pointer;
	padding: 10px;
	transition: all 0.2s;
}

.social-login-item:hover {
	background-color: #f1f1f1;
}

.points {
	color: #136c91;
	font-size: large;
	font-weight: bold;
}

.error-container > p {
	color: #da0016;
    cursor: pointer;
    transition: opacity 0.5s;
    opacity: 1;
    height: auto;
}

.error-container > p.hidden {
    opacity: 0;
}
