<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Change password</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
		<link rel="stylesheet" href="/public/css/base.css" />
		<link rel="stylesheet" href="/public/css/forms.css" />
    </head>

    <body class="fullscreen d-flex align-items-center">

        <div class="form-container">

            <form method="POST" action="/user/change_password" class="form">

                <div class="form-header">
                    <h5 class="accent-100 mb-2">Change password</h5>
                </div>

                <input
                    id="mail"
                    type="text"
                    name="mail"
                    required
                    placeholder="Your email..."
                    class="inputs"
                />

                <input
                    type="password"
                    id="oldPassword"
                    name="oldPassword"
                    required
                    placeholder="Your old password..."
                    class="inputs"
                />

                <input
                    type="password"
                    id="password"
                    name="password"
                    required
                    placeholder="Your password..."
                    class="inputs"
                />
                <input
                    type="password"
                    id="confirmedPassword"
                    required
                    placeholder="Your password again..."
                    class="inputs"
                />

                <div id="error-message" style="color: red; display: none;"></div>
                <#if error??>
                    <div style="color: red">${error}</div>
                </#if>
                <div class="d-flex w-100 gap" style="margin-top: 20px">
                    <button type="button" class="btn-text w-100" onclick="validar()">Accept</button>
                </div>
                
            </form>
        </div>
    </body>

    <script src="/public/js/forms.js"></script>
    
</html>
