<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Registro Individuo</title>
        <script src="/public/js/forms.js"></script>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="/public/css/base.css" />
        <link rel="stylesheet" href="/public/css/forms.css" />
    </head>

    <body class="fullscreen d-flex align-items-center">
        <div class="form-container">
            <div>
                <h5 class="accent-100 mb-2">Sign up</h5>
                <p>Create your account and join us!</p>
            </div>
            <form method="POST" action="/user/individual" class="form">
                <div class="d-flex justify-content-between w-100" style="gap: 10px">
                    <input
                        id="mail"
                        type="text"
                        name="mail"
                        required
                        placeholder="Your email..."
                        class="inputs"
                        style="width: 70%"
                    />

                    <select name="type" required value="Who are you?" style="width: 30%">
                        <option selected value="" disabled hidden>Register as</option>
                        <option value="Contributor" class="desplegables">Contributor</option>
                        <option value="Technician" class="desplegables">Technician</option>
                    </select>
                </div>

                <input
                    type="text"
                    id="name"
                    name="name"
                    required
                    placeholder="Your full name..."
                    class="inputs"
                />
                <input
                    type="text"
                    id="document"
                    name="document"
                    required
                    placeholder="Your document..."
                    class="inputs"
                />
                <input
                    type="password"
                    id="password"
                    name="password"
                    required
                    placeholder="Your password..."
                    class="inputs"
                />
                <input
                    type="password"
                    required
                    placeholder="Your password again..."
                    class="inputs"
                />
                <p>Birth date</p>
                <input
                    type="date"
                    id="birthdate"
                    name="birthdate"
                    required
                    placeholder="Your birthdate..."
                    class="inputs"
                />
                <input
                    type="text"
                    id="address"
                    name="address"
                    required
                    placeholder="Your address..."
                    class="inputs"
                />

                <#if error??>
                    <div style="color: red">${error}</div>
                </#if>
                <div class="d-flex w-100 gap" style="margin-top: 20px">
                    <button type="submit" class="btn-text w-100" onclick="validar()">Accept</button>
                </div>
            </form>
        </div>
    </body>
</html>
